:root {
	/* Borders */
	--border: 1px solid var(--color-border);

	/* Colors */
	--color-base: oklch(0.175 0 0);
	--color-border: oklch(from var(--color-base) calc(l + 0.125) c h);
	--color-content: oklch(0.95 0 0);
	--color-contentMuted: oklch(from var(--color-content) calc(l - 0.25) c h);

	/* Sizing */
	--size-xxs: 0.25rem;
	--size-xs: 0.5rem;
	--size-s: 0.75rem;
	--size-m: 1rem;
	--size-l: 1.25rem;
	--size-xl: 1.5rem;
	--size-xxl: 2rem;

	/* Typography */
	--ff-sans: system-ui, sans-serif;

	--font-p: 400 var(--size-m) var(--ff-sans);
	--font-h2: 500 1.125rem var(--ff-sans);
	--font-h1: 700 var(--size-xxl) var(--ff-sans);

	/* Light theme */
	@media (prefers-color-scheme: light) {
		--color-base: oklch(1 0 0);
		--color-border: oklch(from var(--color-base) calc(l - 0.125) c h);
		--color-content: oklch(0.175 0 0);
		--color-contentMuted: oklch(from var(--color-content) calc(l + 0.25) c h);
	}
}

.card {
	padding: var(--size-m);
	border: var(--border);
	border-radius: var(--size-xs);
}

.stack {
	display: flex;
	flex-direction: column;
}

#root {
	gap: var(--size-xxl);
	align-items: center;
	justify-content: center;
	font: var(--font-p);
	color: var(--color-contentMuted);
	background-color: var(--color-base);
}

h1,
h2 {
	color: var(--color-content);
}

h1 {
	font: var(--font-h1);
}

h2 {
	font: var(--font-h2);
}

header {
	gap: var(--size-xxs);
	align-items: center;
}

.search {
	display: flex;
	gap: var(--size-s);
	max-width: fit-content;
	padding: var(--size-xs) var(--size-s);
	border: var(--border);
	border-radius: var(--size-xs);
}

main {
	gap: var(--size-xs);
	align-items: center;

	.img-wrapper {
		justify-items: center;
		min-width: 240px;
		max-width: 75vw;
	}

	.gif {
		width: 100%;
		border-radius: var(--size-xxs);
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	.copyright::after {
		margin: 0 var(--size-s);
		content: '';
		border-left: var(--border);
	}

	a:hover {
		color: var(--color-content);
	}

	a:has(.svg-icon) {
		transition: transform 750ms;

		&:hover {
			transform: rotate(1turn);
		}
	}
}
