:root {
	/* Borders */
	--border: 1px solid var(--border);

	/* Colors */
	--color-base: oklch(0.175 0 0);
	--color-border: oklch(from var(--color-base) calc(l + 0.125) c h);
	--color-content: oklch(0.95 0 0);
	--color-contentMuted: oklch(from var(--color-content) calc(l - 0.25) c h);

	/* Light theme */
	@media (prefers-color-scheme: light) {
		--color-base: oklch(1 0 0);
		--color-border: oklch(from var(--color-base) calc(l - 0.1) c h);
		--color-content: oklch(0.175 0 0);
		--color-contentMuted: oklch(from var(--color-content) calc(l + 0.25) c h);
	}
}
